# Configuration file to track which errors to report with diag_nvme
# Value set to 1 means it is enabled, 0 it is disabled.

# Failure to retrieve SMART log data from device
SMART_LOG_MISSING = 1

# Critical Warning bits from SMART data
AVAILABLE_SPARE_CAPACITY = 1
TEMPERATURE_THRESHOLD = 1
NVM_SUBSYSTEM_RELIABILITY = 1
MEDIA_READ_ONLY = 1
VOLATILE_MEMORY_BACKUP = 1
PERSISTENT_MEMORY_REGION = 1

# Excessive write rate compared to device endurance
WRITE_RATE = 1
