[Unit]
Description=opal_errd (PowerNV platform error handling) Service
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/libexec/ppc64-diag/opal_errd start
ExecStop=/usr/libexec/ppc64-diag/opal_errd stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
