[Unit]
Description=opal_errd (PowerNV platform error handling) Service
ConditionPathExists=/sys/firmware/opal/elog
ConditionVirtualization=false
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/sbin/opal_errd
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
