# /etc/ppc64-diag/ppc64-diag.config
# PowerLinux Platform Diagnostics configuration

# After modifying this file, send a HUP signal to rtas_errd to have it
# reprocess the file and pick up any modifications.  This can be accomplished
# by running "/etc/init.d/rtas_errd reload", or by running "kill -HUP <pid>",
# where <pid> is the process ID of rtas_errd.

# Automatic deconfiguration settings
# The system will refuse to drop below these specified minimums, regardless
# of any requests to do so (due to predictive hardware failures).  Note that
# the system may experience unscheduled downtime should it refuse to
# deallocate resources due to a predictive failure.
MinProcessors=1             # must be 1 or greater
MinEntitledCapacity=5       # must be 5 or greater

# System dump configuration variables
# These indicate where dump information that is provided by the platform
# should be stored.  These dumps include processor scan ring dumps, hypervisor
# dumps, service processor dumps, power subsystem dumps, etc.
ScanlogDumpPath=/var/log
PlatformDumpPath=/var/log/dump

# OS Auto Restart Policy
# The AutoRestartPolicy variable indicates whether the system should
# automatically restart after a crash.  Set this policy to 1 to tell the
# firmware to automatically restart the system/partition, or to 0 to
# inhibit the restart.
AutoRestartPolicy=1

