[Unit]
Description=ppc64-diag rtas_errd (platform error handling) Service
ConditionVirtualization=!lxc
ConditionPathExists=|/proc/ppc64/rtas/error_log
ConditionPathExists=|/proc/ppc64/error_log
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/sbin/rtas_errd
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
